# Arquivos compilados do Java
*.class

# Arquivos de log
*.log

# Pastas de build do NetBeans
/nbproject/private/
/build/

# Ignora tudo na pasta dist, EXCETO os arquivos .jar
/dist/*
!/dist/*.jar

# Arquivos de cache e configurações do usuário
.nb-gradle/
/nb-run.xml
buildSrc/
!buildSrc/build.gradle
!buildSrc/settings.gradle

# Banco de dados local
# Ignora qualquer arquivo que termine com .db
*.db